# Java / Gradle
backend/build/
backend/bin/
backend/.gradle/
*.class

# IDE
workspace/
.idea/
.vscode/
*.iml
backend/.settings/
backend/.project
backend/.classpath

# Node
frontend/node_modules/
frontend/dist/

# 환경·시크릿
.env
application-prod.yml

# OS
Thumbs.db
.DS_Storepalette_backup_*.sql 
recolor.py 
frontend/src/pages/img.png 
palette_backup_*.sql 
recolor.py 
frontend/src/pages/img.png 
netstat 
